# NBA Machine Learning

The objective for our project will be to create a deep learning model that will be able to predict future outcomes of a basketball season. 
This is done because this could be used as a viable tool in the process of sports betting. The model would function almost exactly the same as one that predicts stock price and signals when to buy or sell, the only difference is that it would predict a player's stat and would signal when to bet instead of buying/selling.

Our project will use historical data from NBA teams such as previous season's records, shot making percentages, defensive ratings, 
and several others from the last ten seasons in a deep learning model to predict the next season's standings for each season and individual player statistics.

In [1]:
#import libraries required to run program
import numpy as np
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

2023-06-05 17:50:00.276117: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
#import csv containing Jokic's statistics
jokic_csv_path = Path("Resources/jokic_ultimate.csv")
jokic_df = pd.read_csv(jokic_csv_path)

In [3]:
#dropped columns that were not relevant to model
jokic_df.drop(columns= ["Rk","Tm","Date","Age","Opp"], axis=1, inplace = True)
jokic_df.head()
jokic_df.columns

Index(['G', 'Unnamed: 5', 'Unnamed: 7', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-', 'TS%', 'eFG%', 'ORB%', 'DRB%',
       'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'ORtg', 'DRtg', 'BPM'],
      dtype='object')

In [4]:
#added titles to columns without names
jokic_df.rename(columns={'Unnamed: 5':'Home_or_Away'},inplace= True)
jokic_df.rename(columns={'Unnamed: 7':'MOV'},inplace= True)

In [5]:
#changed Home or Away column so that if the game was at home it is a value of 0 and if away it is 1
jokic_df['Home_or_Away'] = jokic_df['Home_or_Away'].replace('@', 1)
jokic_df = jokic_df.fillna(0)
jokic_df

,G,Home_or_Away,MOV,GS,MP,FG,FGA,FG%,3P,3PA,...,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,BPM
0,1.0,1.0,L (-21),1,33:25,12.0,17.0,0.706,1.0,3.0,...,8.0,7.4,37.9,4.3,0.0,14.4,26.8,136.0,119.0,13.7
1,1.0,1.0,L (-21),1,33:25,12.0,17.0,0.706,1.0,3.0,...,31.6,25.6,32.7,1.8,0.0,7.0,22.5,124.0,83.0,6.4
2,1.0,0.0,W (+29),1,28:29,6.0,12.0,0.500,0.0,0.0,...,8.0,7.4,37.9,4.3,0.0,14.4,26.8,136.0,119.0,13.7
3,1.0,0.0,W (+29),1,28:29,6.0,12.0,0.500,0.0,0.0,...,31.6,25.6,32.7,1.8,0.0,7.0,22.5,124.0,83.0,6.4
4,2.0,1.0,W (+5),1,34:24,7.0,13.0,0.538,1.0,2.0,...,34.9,22.0,38.5,0.0,0.0,21.9,27.2,138.0,119.0,7.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
578,77.0,0.0,W (+28),1,28:40,9.0,10.0,0.900,0.0,1.0,...,36.8,21.7,47.2,0.0,0.0,30.6,25.7,125.0,87.0,11.9
579,78.0,0.0,W (+9),1,36:45,9.0,15.0,0.600,1.0,4.0,...,33.5,21.5,37.6,2.8,2.3,10.7,23.2,139.0,111.0,12.8
580,0.0,1.0,L (-7),Inactive,0,0.0,0.0,0.000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
581,79.0,1.0,L (-10),1,16:03,1.0,6.0,0.167,0.0,0.0,...,24.2,18.9,15.7,3.0,5.9,12.7,22.5,57.0,112.0,-15.1
582,80.0,0.0,W (+4),1,36:35,13.0,26.0,0.500,1.0,7.0,...,30.1,19.5,12.0,4.2,0.0,13.0,38.1,100.0,93.0,3.9

In [6]:
#remove rows with games Jokic did not play
jokic_df = jokic_df[jokic_df['GS'] != "Inactive"]
jokic_df = jokic_df[jokic_df['GS'] != "Did Not Dress"]
jokic_df = jokic_df[jokic_df['GS'] != "Did Not Play"]
display(jokic_df)

,G,Home_or_Away,MOV,GS,MP,FG,FGA,FG%,3P,3PA,...,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,BPM
0,1.0,1.0,L (-21),1,33:25,12.0,17.0,0.706,1.0,3.0,...,8.0,7.4,37.9,4.3,0.0,14.4,26.8,136.0,119.0,13.7
1,1.0,1.0,L (-21),1,33:25,12.0,17.0,0.706,1.0,3.0,...,31.6,25.6,32.7,1.8,0.0,7.0,22.5,124.0,83.0,6.4
2,1.0,0.0,W (+29),1,28:29,6.0,12.0,0.500,0.0,0.0,...,8.0,7.4,37.9,4.3,0.0,14.4,26.8,136.0,119.0,13.7
3,1.0,0.0,W (+29),1,28:29,6.0,12.0,0.500,0.0,0.0,...,31.6,25.6,32.7,1.8,0.0,7.0,22.5,124.0,83.0,6.4
4,2.0,1.0,W (+5),1,34:24,7.0,13.0,0.538,1.0,2.0,...,34.9,22.0,38.5,0.0,0.0,21.9,27.2,138.0,119.0,7.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577,76.0,1.0,L (-14),1,27:42,4.0,10.0,0.400,0.0,3.0,...,12.7,9.1,35.8,6.5,0.0,34.6,24.3,73.0,104.0,-1.5
578,77.0,0.0,W (+28),1,28:40,9.0,10.0,0.900,0.0,1.0,...,36.8,21.7,47.2,0.0,0.0,30.6,25.7,125.0,87.0,11.9
579,78.0,0.0,W (+9),1,36:45,9.0,15.0,0.600,1.0,4.0,...,33.5,21.5,37.6,2.8,2.3,10.7,23.2,139.0,111.0,12.8
581,79.0,1.0,L (-10),1,16:03,1.0,6.0,0.167,0.0,0.0,...,24.2,18.9,15.7,3.0,5.9,12.7,22.5,57.0,112.0,-15.1
582,80.0,0.0,W (+4),1,36:35,13.0,26.0,0.500,1.0,7.0,...,30.1,19.5,12.0,4.2,0.0,13.0,38.1,100.0,93.0,3.9

In [7]:
#convert minutes played column to seconds played 
def convert_to_numerical(time_obj):
    minutes, seconds = time_obj.split(':')
    total_seconds = int(minutes) * 60 + int(seconds)
    return total_seconds

jokic_df['MP'] = jokic_df['MP'].apply(convert_to_numerical)
jokic_df.rename(columns={'MP':'Seconds_played'},inplace =True)
jokic_df.dtypes

G                 float64
Home_or_Away      float64
MOV                object
GS                 object
Seconds_played      int64
FG                float64
FGA               float64
FG%               float64
3P                float64
3PA               float64
3P%               float64
FT                float64
FTA               float64
FT%               float64
ORB               float64
DRB               float64
TRB               float64
AST               float64
STL               float64
BLK               float64
TOV               float64
PF                float64
PTS               float64
GmSc              float64
+/-               float64
TS%               float64
eFG%              float64
ORB%              float64
DRB%              float64
TRB%              float64
AST%              float64
STL%              float64
BLK%              float64
TOV%              float64
USG%              float64
ORtg              float64
DRtg              float64
BPM               float64
dtype: object

In [8]:
jokic_df.columns

Index(['G', 'Home_or_Away', 'MOV', 'GS', 'Seconds_played', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST',
       'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-', 'TS%', 'eFG%', 'ORB%',
       'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'ORtg', 'DRtg',
       'BPM'],
      dtype='object')

In [9]:
#converted columns with float64 types to int64 types
jokic_int_df = jokic_df[['G', 'Home_or_Away','FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST',
       'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-', 'TS%', 'eFG%', 'ORB%',
       'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'ORtg', 'DRtg',
       'BPM']].round().astype('int64')

In [10]:
#concat dataframes that contained all columns
jokic_df.drop(columns= ['G', 'Home_or_Away','FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST',
       'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-', 'TS%', 'eFG%', 'ORB%',
       'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'ORtg', 'DRtg',
       'BPM'], axis=1, inplace = True)
jokic_full_df = pd.concat([jokic_df, jokic_int_df], axis=1)
jokic_full_df.tail()

,MOV,GS,Seconds_played,G,Home_or_Away,FG,FGA,FG%,3P,3PA,...,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,BPM
577,L (-14),1,1662,76,1,4,10,0,0,3,...,13,9,36,6,0,35,24,73,104,-2
578,W (+28),1,1720,77,0,9,10,1,0,1,...,37,22,47,0,0,31,26,125,87,12
579,W (+9),1,2205,78,0,9,15,1,1,4,...,34,22,38,3,2,11,23,139,111,13
581,L (-10),1,963,79,1,1,6,0,0,0,...,24,19,16,3,6,13,22,57,112,-15
582,W (+4),1,2195,80,0,13,26,0,1,7,...,30,20,12,4,0,13,38,100,93,4

In [11]:
#changed MOV to win or loss column and another with actual margin
jokic_full_df['WinOrLoss'] = jokic_full_df['MOV'].str[0].map({'L':0,'W':1})
jokic_full_df['Margin'] = jokic_full_df['MOV'].str[1:].str.extract("(\d+)").astype(int)
jokic_full_df.dtypes

MOV               object
GS                object
Seconds_played     int64
G                  int64
Home_or_Away       int64
FG                 int64
FGA                int64
FG%                int64
3P                 int64
3PA                int64
3P%                int64
FT                 int64
FTA                int64
FT%                int64
ORB                int64
DRB                int64
TRB                int64
AST                int64
STL                int64
BLK                int64
TOV                int64
PF                 int64
PTS                int64
GmSc               int64
+/-                int64
TS%                int64
eFG%               int64
ORB%               int64
DRB%               int64
TRB%               int64
AST%               int64
STL%               int64
BLK%               int64
TOV%               int64
USG%               int64
ORtg               int64
DRtg               int64
BPM                int64
WinOrLoss          int64
Margin             int64
dtype: object

In [12]:
#dropped MOV, G and GS
jokic_full_df.drop(columns= ["MOV","GS","G"], axis=1, inplace = True)

In [13]:
display(jokic_full_df)

,Seconds_played,Home_or_Away,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,...,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,BPM,WinOrLoss,Margin
0,2005,1,12,17,1,1,3,0,2,2,...,38,4,0,14,27,136,119,14,0,21
1,2005,1,12,17,1,1,3,0,2,2,...,33,2,0,7,22,124,83,6,0,21
2,1709,0,6,12,0,0,0,0,1,3,...,38,4,0,14,27,136,119,14,1,29
3,1709,0,6,12,0,0,0,0,1,3,...,33,2,0,7,22,124,83,6,1,29
4,2064,1,7,13,1,1,2,0,11,11,...,38,0,0,22,27,138,119,7,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577,1662,1,4,10,0,0,3,0,2,3,...,36,6,0,35,24,73,104,-2,0,14
578,1720,0,9,10,1,0,1,0,2,3,...,47,0,0,31,26,125,87,12,1,28
579,2205,0,9,15,1,1,4,0,3,4,...,38,3,2,11,23,139,111,13,1,9
581,963,1,1,6,0,0,0,0,0,2,...,16,3,6,13,22,57,112,-15,0,10
582,2195,0,13,26,0,1,7,0,2,2,...,12,4,0,13,38,100,93,4,1,4

In [14]:
y = jokic_full_df['PTS'].values
display(y)

array([27, 27, 13, 13, 26, 26, 27, 27, 19, 19, 20, 20,  9,  9, 43, 43, 31,
       31, 28, 28, 12, 12, 24, 24, 23, 23, 39, 39, 15, 15, 30, 30, 21, 21,
       53, 53, 26, 26, 29, 29, 24, 24, 32, 32, 29, 29, 34, 34,  8,  8, 23,
       23, 24, 24, 30, 30, 27, 27, 31, 39, 19, 32, 17, 24, 32, 19, 33, 31,
       43, 25, 40, 13, 29, 41, 20, 40, 19, 30, 24, 12, 28, 14, 21, 17, 36,
       31, 25, 24, 26, 22, 14, 20, 29, 30, 27, 14, 24, 15, 40, 14, 18, 17,
       18, 37, 35, 28, 30, 24, 22, 31, 31, 25, 14,  6, 27, 27, 25, 25, 32,
       32, 26, 26, 24, 24, 37, 37, 24, 24, 37, 37, 11, 11, 30, 30, 26, 23,
       34, 28, 25, 22, 28, 35, 30, 24, 18, 32, 17, 39, 22, 35, 28, 27, 20,
       13, 29, 26, 22, 24, 27, 26, 33, 22, 21, 20, 17, 25, 49, 26, 34, 28,
       26, 29, 18, 21, 25, 27, 21, 23, 28, 26, 35, 25, 18,  8, 22, 46, 32,
       38, 23, 26, 22, 29, 32, 23, 30, 28, 35, 26, 37, 38, 38, 41, 35, 29,
       29, 34, 34, 24, 24, 38, 38, 19, 19, 36, 36, 26, 26, 16, 16, 17, 17,
       38, 38, 19, 19, 36, 36, 35, 35, 22, 22, 38, 38, 24, 24, 15, 15, 32,
       32, 22, 22, 22, 22, 23, 23, 35, 27, 31, 29, 20, 21, 35, 47, 13, 50,
       35, 12, 22, 23, 43, 33, 16, 15, 41, 24, 19, 39, 37, 20, 28, 26, 32,
       12, 34, 29, 28, 20, 37, 16, 21, 14, 17, 27, 25, 26, 17, 27, 17, 29,
       47, 25, 19, 24, 24, 32, 19, 30, 32, 32, 24, 29, 30, 31, 20, 21, 20,
       20, 29, 29, 23, 23, 28, 28,  9,  9, 15, 15, 10, 10, 29, 29, 13, 13,
       31, 31, 20, 20, 22, 22,  9,  9, 30, 30, 26, 26, 15, 15, 20, 20, 26,
       26, 20, 20, 32, 32, 18, 18, 26, 26,  9,  9, 22, 22, 27, 27, 34, 34,
       18, 18, 16, 16,  8,  8, 21, 21,  8,  8, 30, 30,  7,  7, 22, 22, 13,
       13, 16, 16,  6,  6, 20, 20, 30, 24, 15, 20, 28, 25, 18, 22, 18, 22,
       23, 31, 17, 21, 22, 14, 47, 33, 19, 20, 12, 23, 30, 17, 19, 27, 24,
       25, 28, 15, 39, 29, 30, 23, 19, 22, 32, 24, 16, 21, 23, 16, 14,  8,
       10, 14, 19, 30, 25,  8, 30, 12, 17,  2, 21, 21, 10, 10, 35, 35, 21,
       21, 23, 23, 22, 22, 14, 14, 29, 29, 24, 24, 16, 16, 12, 12, 43, 43,
       22, 22, 21, 21,  4,  4, 37, 37,  7,  7, 16, 16,  8,  8, 33, 33,  4,
        4, 21, 21, 37, 37, 25, 25, 20, 20, 29, 29, 14, 14, 29, 29, 12, 25,
       20,  7,  6, 16, 14, 15, 23, 12, 16, 24, 27, 24, 26, 32, 19,  4, 21,
       23, 19, 26, 39, 24, 29, 18, 23, 40, 17, 18, 19, 28, 32, 24, 20, 31,
       13, 16, 25, 27, 23, 20, 19, 22, 36, 16, 20, 22, 12, 16, 18, 11, 26,
       21, 15, 21, 19, 23, 16, 23, 23, 10, 20, 22,  2, 29])

In [15]:
X = jokic_full_df.drop(columns= 'PTS').values
display(X)

array([[2005,    1,   12, ...,   14,    0,   21],
       [2005,    1,   12, ...,    6,    0,   21],
       [1709,    0,    6, ...,   14,    1,   29],
       ...,
       [2205,    0,    9, ...,   13,    1,    9],
       [ 963,    1,    1, ...,  -15,    0,   10],
       [2195,    0,   13, ...,    4,    1,    4]])

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [17]:
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [29]:
number_input_features = 36

In [30]:
number_output_neurons = 1

In [31]:
hidden_nodes_layer1 = 8

In [32]:
hidden_nodes_layer2 = 4

In [33]:
nn = Sequential()

In [34]:
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [35]:
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [36]:
nn.add(Dense(units=1, activation="linear"))

In [37]:
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 296

 dense_4 (Dense)             (None, 4)                 36

 dense_5 (Dense)             (None, 1)                 5

=================================================================
Total params: 337
Trainable params: 337
Non-trainable params: 0
_________________________________________________________________

In [38]:
nn.compile(loss= "mse", optimizer="adam", metrics=["mse"])

In [61]:
jokic_deep_model = nn.fit(X_train_scaled, y_train, epochs=60)

Epoch 1/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0035 - mse: 0.0035
Epoch 2/60
14/14 [==============================] - 0s 1ms/step - loss: 0.0034 - mse: 0.0034
Epoch 3/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0028 - mse: 0.0028
Epoch 4/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0020 - mse: 0.0020
Epoch 5/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0019 - mse: 0.0019
Epoch 6/60
14/14 [==============================] - 0s 3ms/step - loss: 0.0052 - mse: 0.0052
Epoch 7/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0038 - mse: 0.0038
Epoch 8/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0028 - mse: 0.0028
Epoch 9/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0179 - mse: 0.0179
Epoch 10/60
14/14 [==============================] - 0s 1ms/step - loss: 0.0113 - mse: 0.0113
Epoch 11/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0049 - mse: 0.0049
Epoch 12/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0034 - mse: 0.0034
Epoch 13/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0032 - mse: 0.0032
Epoch 14/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0023 - mse: 0.0023
Epoch 15/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0027 - mse: 0.0027
Epoch 16/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0021 - mse: 0.0021
Epoch 17/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0021 - mse: 0.0021
Epoch 18/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0030 - mse: 0.0030
Epoch 19/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0024 - mse: 0.0024
Epoch 20/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0019 - mse: 0.0019
Epoch 21/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0018 - mse: 0.0018
Epoch 22/60
14/14 [==============================] - 0s 3ms/step - loss: 0.0072 - mse: 0.0072
Epoch 23/60
14/14 [==============================] - 0s 3ms/step - loss: 0.0041 - mse: 0.0041
Epoch 24/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0066 - mse: 0.0066
Epoch 25/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0038 - mse: 0.0038
Epoch 26/60
14/14 [==============================] - 0s 3ms/step - loss: 0.0066 - mse: 0.0066
Epoch 27/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0047 - mse: 0.0047
Epoch 28/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0085 - mse: 0.0085
Epoch 29/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0083 - mse: 0.0083
Epoch 30/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0043 - mse: 0.0043
Epoch 31/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0035 - mse: 0.0035
Epoch 32/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0025 - mse: 0.0025
Epoch 33/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0028 - mse: 0.0028
Epoch 34/60
14/14 [==============================] - 0s 5ms/step - loss: 0.0021 - mse: 0.0021
Epoch 35/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0018 - mse: 0.0018
Epoch 36/60
14/14 [==============================] - 0s 3ms/step - loss: 0.0023 - mse: 0.0023
Epoch 37/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0033 - mse: 0.0033
Epoch 38/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0033 - mse: 0.0033
Epoch 39/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0029 - mse: 0.0029
Epoch 40/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0051 - mse: 0.0051
Epoch 41/60
14/14 [==============================] - 0s 3ms/step - loss: 0.0101 - mse: 0.0101
Epoch 42/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0056 - mse: 0.0056
Epoch 43/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0042 - mse: 0.0042
Epoch 44/60
14/14 [==============================] - 0s 4ms/step - loss: 0.0039 - mse: 0.0039
Epoch 45/60
14/14 [==============================] - 0s 3ms/step - loss: 0.0028 - mse: 0.0028
Epoch 46/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0028 - mse: 0.0028
Epoch 47/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0027 - mse: 0.0027
Epoch 48/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0022 - mse: 0.0022
Epoch 49/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0022 - mse: 0.0022
Epoch 50/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0061 - mse: 0.0061
Epoch 51/60
14/14 [==============================] - 0s 3ms/step - loss: 0.0062 - mse: 0.0062
Epoch 52/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0050 - mse: 0.0050
Epoch 53/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0028 - mse: 0.0028
Epoch 54/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0025 - mse: 0.0025
Epoch 55/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0075 - mse: 0.0075
Epoch 56/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0044 - mse: 0.0044
Epoch 57/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0041 - mse: 0.0041
Epoch 58/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0065 - mse: 0.0065
Epoch 59/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0036 - mse: 0.0036
Epoch 60/60
14/14 [==============================] - 0s 2ms/step - loss: 0.0025 - mse: 0.0025

In [62]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

5/5 - 0s - loss: 0.1920 - mse: 0.1920 - 47ms/epoch - 9ms/step

In [55]:
predictions = (nn.predict(X_test_scaled)).astype("int32")

5/5 [==============================] - 0s 2ms/step

In [56]:
results = pd.DataFrame({"predictions": predictions.ravel(), "actual":y_test})

In [57]:
display(results)

     predictions  actual
0             29      29
1             13      14
2             37      38
3             32      33
4             40      41
..           ...     ...
135           18      18
136           36      36
137           18      18
138           19      20
139           37      37

[140 rows x 2 columns]

In [63]:
#Alternate Model for predicting Assists
y2 = jokic_full_df['AST'].values
X2 = jokic_full_df.drop(columns= 'AST').values
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, random_state=1)
scaler = StandardScaler()
X_scaler2 = scaler.fit(X_train2)
X_train_scaled2 = X_scaler2.transform(X_train)
X_test_scaled2 = X_scaler.transform(X_test2)
nn2 = Sequential()
nn2.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))
nn2.add(Dense(units=hidden_nodes_layer2, activation="relu"))
nn2.add(Dense(units=1, activation="linear"))
nn2.compile(loss= "mse", optimizer="adam", metrics=["mse"])
jokic_deep_model_assist = nn2.fit(X_train_scaled2, y_train2, epochs=60)

Epoch 1/60
14/14 [==============================] - 1s 2ms/step - loss: 49.5191 - mse: 49.5191
Epoch 2/60
14/14 [==============================] - 0s 3ms/step - loss: 42.6859 - mse: 42.6859
Epoch 3/60
14/14 [==============================] - 0s 2ms/step - loss: 36.5508 - mse: 36.5508
Epoch 4/60
14/14 [==============================] - 0s 2ms/step - loss: 31.1362 - mse: 31.1362
Epoch 5/60
14/14 [==============================] - 0s 4ms/step - loss: 25.9781 - mse: 25.9781
Epoch 6/60
14/14 [==============================] - 0s 2ms/step - loss: 21.0087 - mse: 21.0087
Epoch 7/60
14/14 [==============================] - 0s 2ms/step - loss: 16.5462 - mse: 16.5462
Epoch 8/60
14/14 [==============================] - 0s 2ms/step - loss: 12.8863 - mse: 12.8863
Epoch 9/60
14/14 [==============================] - 0s 2ms/step - loss: 10.2902 - mse: 10.2902
Epoch 10/60
14/14 [==============================] - 0s 2ms/step - loss: 8.2433 - mse: 8.2433
Epoch 11/60
14/14 [==============================] - 0s 2ms/step - loss: 6.7096 - mse: 6.7096
Epoch 12/60
14/14 [==============================] - 0s 2ms/step - loss: 5.4589 - mse: 5.4589
Epoch 13/60
14/14 [==============================] - 0s 2ms/step - loss: 4.5744 - mse: 4.5744
Epoch 14/60
14/14 [==============================] - 0s 2ms/step - loss: 3.9308 - mse: 3.9308
Epoch 15/60
14/14 [==============================] - 0s 2ms/step - loss: 3.4881 - mse: 3.4881
Epoch 16/60
14/14 [==============================] - 0s 2ms/step - loss: 3.1331 - mse: 3.1331
Epoch 17/60
14/14 [==============================] - 0s 2ms/step - loss: 2.8805 - mse: 2.8805
Epoch 18/60
14/14 [==============================] - 0s 2ms/step - loss: 2.6491 - mse: 2.6491
Epoch 19/60
14/14 [==============================] - 0s 2ms/step - loss: 2.4416 - mse: 2.4416
Epoch 20/60
14/14 [==============================] - 0s 3ms/step - loss: 2.2647 - mse: 2.2647
Epoch 21/60
14/14 [==============================] - 0s 2ms/step - loss: 2.1097 - mse: 2.1097
Epoch 22/60
14/14 [==============================] - 0s 2ms/step - loss: 1.9695 - mse: 1.9695
Epoch 23/60
14/14 [==============================] - 0s 2ms/step - loss: 1.8401 - mse: 1.8401
Epoch 24/60
14/14 [==============================] - 0s 2ms/step - loss: 1.7187 - mse: 1.7187
Epoch 25/60
14/14 [==============================] - 0s 3ms/step - loss: 1.6124 - mse: 1.6124
Epoch 26/60
14/14 [==============================] - 0s 2ms/step - loss: 1.5108 - mse: 1.5108
Epoch 27/60
14/14 [==============================] - 0s 2ms/step - loss: 1.4235 - mse: 1.4235
Epoch 28/60
14/14 [==============================] - 0s 2ms/step - loss: 1.3255 - mse: 1.3255
Epoch 29/60
14/14 [==============================] - 0s 2ms/step - loss: 1.2548 - mse: 1.2548
Epoch 30/60
14/14 [==============================] - 0s 2ms/step - loss: 1.1846 - mse: 1.1846
Epoch 31/60
14/14 [==============================] - 0s 2ms/step - loss: 1.1175 - mse: 1.1175
Epoch 32/60
14/14 [==============================] - 0s 2ms/step - loss: 1.0588 - mse: 1.0588
Epoch 33/60
14/14 [==============================] - 0s 3ms/step - loss: 1.0076 - mse: 1.0076
Epoch 34/60
14/14 [==============================] - 0s 2ms/step - loss: 0.9552 - mse: 0.9552
Epoch 35/60
14/14 [==============================] - 0s 2ms/step - loss: 0.9096 - mse: 0.9096
Epoch 36/60
14/14 [==============================] - 0s 2ms/step - loss: 0.8673 - mse: 0.8673
Epoch 37/60
14/14 [==============================] - 0s 2ms/step - loss: 0.8284 - mse: 0.8284
Epoch 38/60
14/14 [==============================] - 0s 2ms/step - loss: 0.7867 - mse: 0.7867
Epoch 39/60
14/14 [==============================] - 0s 2ms/step - loss: 0.7505 - mse: 0.7505
Epoch 40/60
14/14 [==============================] - 0s 2ms/step - loss: 0.7155 - mse: 0.7155
Epoch 41/60
14/14 [==============================] - 0s 2ms/step - loss: 0.6846 - mse: 0.6846
Epoch 42/60
14/14 [==============================] - 0s 2ms/step - loss: 0.6542 - mse: 0.6542
Epoch 43/60
14/14 [==============================] - 0s 3ms/step - loss: 0.6348 - mse: 0.6348
Epoch 44/60
14/14 [==============================] - 0s 2ms/step - loss: 0.6096 - mse: 0.6096
Epoch 45/60
14/14 [==============================] - 0s 2ms/step - loss: 0.5833 - mse: 0.5833
Epoch 46/60
14/14 [==============================] - 0s 2ms/step - loss: 0.5595 - mse: 0.5595
Epoch 47/60
14/14 [==============================] - 0s 2ms/step - loss: 0.5367 - mse: 0.5367
Epoch 48/60
14/14 [==============================] - 0s 2ms/step - loss: 0.5142 - mse: 0.5142
Epoch 49/60
14/14 [==============================] - 0s 2ms/step - loss: 0.4932 - mse: 0.4932
Epoch 50/60
14/14 [==============================] - 0s 2ms/step - loss: 0.4737 - mse: 0.4737
Epoch 51/60
14/14 [==============================] - 0s 2ms/step - loss: 0.4758 - mse: 0.4758
Epoch 52/60
14/14 [==============================] - 0s 2ms/step - loss: 0.4753 - mse: 0.4753
Epoch 53/60
14/14 [==============================] - 0s 2ms/step - loss: 0.4444 - mse: 0.4444
Epoch 54/60
14/14 [==============================] - 0s 2ms/step - loss: 0.4175 - mse: 0.4175
Epoch 55/60
14/14 [==============================] - 0s 3ms/step - loss: 0.3965 - mse: 0.3965
Epoch 56/60
14/14 [==============================] - 0s 3ms/step - loss: 0.3809 - mse: 0.3809
Epoch 57/60
14/14 [==============================] - 0s 2ms/step - loss: 0.3676 - mse: 0.3676
Epoch 58/60
14/14 [==============================] - 0s 2ms/step - loss: 0.3532 - mse: 0.3532
Epoch 59/60
14/14 [==============================] - 0s 2ms/step - loss: 0.3431 - mse: 0.3431
Epoch 60/60
14/14 [==============================] - 0s 2ms/step - loss: 0.3316 - mse: 0.3316

In [65]:
predictions2 = (nn2.predict(X_test_scaled2)).astype("int32")

5/5 [==============================] - 0s 2ms/step

In [66]:
results2 = pd.DataFrame({"predictions2": predictions.ravel(), "actual":y_test2})

In [67]:
display(results2)

     predictions2  actual
0              -1      10
1               0       7
2               0       9
3               0       7
4              -1       4
..            ...     ...
135            -1       8
136            -1       5
137             0      15
138             0       6
139             0       6

[140 rows x 2 columns]