In [37]:
import pandas as pd
import tensorflow as tf

2023-06-06 20:12:27.178323: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [16]:
opposing_team_df = pd.read_csv('Resources/revised_opposing.csv')

In [17]:
display(opposing_team_df)

,Team,MP,FG%,3P%,FT%,TS%,USG%,ORtg,DRtg,PTS,TRB,AST
0,Atlanta,30.1,0.500,0.288,0.692,0.565,25.7,121,106,18.1,10.9,6.3
1,Boston,30.8,0.554,0.364,0.824,0.639,27.9,124,108,21.5,10.3,6.5
2,Charlotte,32.1,0.515,0.293,0.798,0.586,29.2,120,107,22.1,13.9,7.1
3,Chicago,28.0,0.522,0.447,0.821,0.602,26.6,130,107,18.1,9.9,7.7
4,Cleveland,31.2,0.579,0.410,0.864,0.662,24.4,127,110,18.4,10.7,7.1
5,Dallas,30.0,0.531,0.270,0.777,0.595,27.3,116,107,18.2,11.4,6.2
6,Detroit,30.5,0.575,0.265,0.817,0.636,27.2,129,105,21.4,9.1,6.3
7,Golden State,29.6,0.499,0.182,0.800,0.571,27.2,114,111,17.8,10.3,6.6
8,Houston,27.6,0.576,0.341,0.802,0.634,28.8,119,111,19.0,10.3,6.5
9,Indiana,31.5,0.559,0.429,0.845,0.644,30.9,126,109,25.1,9.5,5.4
10,LA Clippers,30.5,0.538,0.325,0.828,0.627,27.3,126,108,20.7,10.9,6.1
11,LA Lakers,30.5,0.527,0.292,0.883,0.621,26.1,121,107,19.0,10.2,6.2
12,Memphis,31.7,0.577,0.373,0.845,0.664,24.6,125,104,19.6,10.4,5.6
13,Miami,32.6,0.554,0.439,0.817,0.627,25.0,127,107,20.2,11.1,6.3
14,Milwaukee,31.4,0.544,0.429,0.870,0.632,27.3,128,108,21.4,9.5,8.5
15,Minnesota,32.0,0.530,0.264,0.820,0.599,28.1,119,109,20.4,10.6,6.8
16,New Jersey,30.3,0.582,0.318,0.885,0.660,26.9,134,108,22.6,11.6,6.3
17,New Orleans,30.0,0.592,0.407,0.827,0.671,27.6,129,109,21.7,10.1,7.0
18,New York,30.1,0.563,0.396,0.765,0.634,28.9,128,109,22.1,10.2,5.9
19,Oklahoma City,31.8,0.559,0.280,0.875,0.645,26.1,126,106,21.0,10.6,6.6
20,Orlando,31.9,0.498,0.346,0.804,0.582,24.5,121,105,17.7,10.3,8.3
21,Philadelphia,33.0,0.544,0.368,0.819,0.638,27.2,125,109,22.4,10.5,7.8
22,Phoenix,31.7,0.570,0.404,0.859,0.662,25.6,130,106,20.5,10.9,6.5
23,Portland,29.9,0.558,0.367,0.823,0.637,26.2,128,109,19.6,9.5,6.3
24,Sacramento,31.2,0.547,0.303,0.857,0.629,25.2,123,107,19.1,10.9,7.0
25,San Antonio,32.2,0.601,0.483,0.826,0.677,28.1,124,112,23.0,9.9,7.6
26,Toronto,29.6,0.613,0.259,0.868,0.679,24.6,133,112,19.0,10.9,5.9
27,Utah,30.5,0.529,0.333,0.821,0.613,25.9,123,107,18.4,10.2,7.1
28,Washington,30.7,0.615,0.541,0.849,0.704,26.6,131,107,22.3,11.3,5.9

In [18]:
opposing_team_df['Seconds_played'] = opposing_team_df['MP'] * 60

In [23]:
opposing_team_df.set_index('Team', inplace=True)

In [24]:
display(opposing_team_df)

,MP,FG%,3P%,FT%,TS%,USG%,ORtg,DRtg,PTS,TRB,AST,Seconds_played
Team,,,,,,,,,,,,
Atlanta,30.1,0.500,0.288,0.692,0.565,25.7,121,106,18.1,10.9,6.3,1806.0
Boston,30.8,0.554,0.364,0.824,0.639,27.9,124,108,21.5,10.3,6.5,1848.0
Charlotte,32.1,0.515,0.293,0.798,0.586,29.2,120,107,22.1,13.9,7.1,1926.0
Chicago,28.0,0.522,0.447,0.821,0.602,26.6,130,107,18.1,9.9,7.7,1680.0
Cleveland,31.2,0.579,0.410,0.864,0.662,24.4,127,110,18.4,10.7,7.1,1872.0
Dallas,30.0,0.531,0.270,0.777,0.595,27.3,116,107,18.2,11.4,6.2,1800.0
Detroit,30.5,0.575,0.265,0.817,0.636,27.2,129,105,21.4,9.1,6.3,1830.0
Golden State,29.6,0.499,0.182,0.800,0.571,27.2,114,111,17.8,10.3,6.6,1776.0
Houston,27.6,0.576,0.341,0.802,0.634,28.8,119,111,19.0,10.3,6.5,1656.0
Indiana,31.5,0.559,0.429,0.845,0.644,30.9,126,109,25.1,9.5,5.4,1890.0
LA Clippers,30.5,0.538,0.325,0.828,0.627,27.3,126,108,20.7,10.9,6.1,1830.0
LA Lakers,30.5,0.527,0.292,0.883,0.621,26.1,121,107,19.0,10.2,6.2,1830.0
Memphis,31.7,0.577,0.373,0.845,0.664,24.6,125,104,19.6,10.4,5.6,1902.0
Miami,32.6,0.554,0.439,0.817,0.627,25.0,127,107,20.2,11.1,6.3,1956.0
Milwaukee,31.4,0.544,0.429,0.870,0.632,27.3,128,108,21.4,9.5,8.5,1884.0
Minnesota,32.0,0.530,0.264,0.820,0.599,28.1,119,109,20.4,10.6,6.8,1920.0
New Jersey,30.3,0.582,0.318,0.885,0.660,26.9,134,108,22.6,11.6,6.3,1818.0
New Orleans,30.0,0.592,0.407,0.827,0.671,27.6,129,109,21.7,10.1,7.0,1800.0
New York,30.1,0.563,0.396,0.765,0.634,28.9,128,109,22.1,10.2,5.9,1806.0
Oklahoma City,31.8,0.559,0.280,0.875,0.645,26.1,126,106,21.0,10.6,6.6,1908.0
Orlando,31.9,0.498,0.346,0.804,0.582,24.5,121,105,17.7,10.3,8.3,1914.0
Philadelphia,33.0,0.544,0.368,0.819,0.638,27.2,125,109,22.4,10.5,7.8,1980.0
Phoenix,31.7,0.570,0.404,0.859,0.662,25.6,130,106,20.5,10.9,6.5,1902.0
Portland,29.9,0.558,0.367,0.823,0.637,26.2,128,109,19.6,9.5,6.3,1794.0
Sacramento,31.2,0.547,0.303,0.857,0.629,25.2,123,107,19.1,10.9,7.0,1872.0
San Antonio,32.2,0.601,0.483,0.826,0.677,28.1,124,112,23.0,9.9,7.6,1932.0
Toronto,29.6,0.613,0.259,0.868,0.679,24.6,133,112,19.0,10.9,5.9,1776.0
Utah,30.5,0.529,0.333,0.821,0.613,25.9,123,107,18.4,10.2,7.1,1830.0
Washington,30.7,0.615,0.541,0.849,0.704,26.6,131,107,22.3,11.3,5.9,1842.0

In [25]:
opposing_team_df.dtypes

MP                float64
FG%               float64
3P%               float64
FT%               float64
TS%               float64
USG%              float64
ORtg                int64
DRtg                int64
PTS               float64
TRB               float64
AST               float64
Seconds_played    float64
dtype: object

In [26]:
opposing_team_df.columns

Index(['MP', 'FG%', '3P%', 'FT%', 'TS%', 'USG%', 'ORtg', 'DRtg', 'PTS', 'TRB',
       'AST', 'Seconds_played'],
      dtype='object')

In [27]:
opposing_team_df = opposing_team_df[['MP', 'FG%', '3P%', 'FT%', 'TS%', 'USG%','PTS', 'TRB',
       'AST', 'Seconds_played']].round().astype('int64')

In [30]:
opposing_team_df.drop(columns= ['MP'], axis=1, inplace = True)

In [31]:
display(opposing_team_df)

               FG%  3P%  FT%  TS%  USG%  PTS  TRB  AST  Seconds_played
Team
Atlanta          0    0    1    1    26   18   11    6            1806
Boston           1    0    1    1    28   22   10    6            1848
Charlotte        1    0    1    1    29   22   14    7            1926
Chicago          1    0    1    1    27   18   10    8            1680
Cleveland        1    0    1    1    24   18   11    7            1872
Dallas           1    0    1    1    27   18   11    6            1800
Detroit          1    0    1    1    27   21    9    6            1830
Golden State     0    0    1    1    27   18   10    7            1776
Houston          1    0    1    1    29   19   10    6            1656
Indiana          1    0    1    1    31   25   10    5            1890
LA Clippers      1    0    1    1    27   21   11    6            1830
LA Lakers        1    0    1    1    26   19   10    6            1830
Memphis          1    0    1    1    25   20   10    6            1902
Miami            1    0    1    1    25   20   11    6            1956
Milwaukee        1    0    1    1    27   21   10    8            1884
Minnesota        1    0    1    1    28   20   11    7            1920
New Jersey       1    0    1    1    27   23   12    6            1818
New Orleans      1    0    1    1    28   22   10    7            1800
New York         1    0    1    1    29   22   10    6            1806
Oklahoma City    1    0    1    1    26   21   11    7            1908
Orlando          0    0    1    1    24   18   10    8            1914
Philadelphia     1    0    1    1    27   22   10    8            1980
Phoenix          1    0    1    1    26   20   11    6            1902
Portland         1    0    1    1    26   20   10    6            1794
Sacramento       1    0    1    1    25   19   11    7            1872
San Antonio      1    0    1    1    28   23   10    8            1932
Toronto          1    0    1    1    25   19   11    6            1776
Utah             1    0    1    1    26   18   10    7            1830
Washington       1    1    1    1    27   22   11    6            1842

In [34]:
washington_df = opposing_team_df.loc[['Washington']].copy()

In [35]:
display(washington_df)

            FG%  3P%  FT%  TS%  USG%  PTS  TRB  AST  Seconds_played
Team
Washington    1    1    1    1    27   22   11    6            1842

In [40]:
nn = tf.keras.models.load_model('jokic_deep_model.h5')
nn

In [39]:
washington_predictions = (nn.predict(washington_df)).astype("int32")

ValueError: in user code:

    File "/Users/nahinhayat/opt/anaconda3/lib/python3.9/site-packages/keras/engine/training.py", line 2169, in predict_function  *
        return step_function(self, iterator)
    File "/Users/nahinhayat/opt/anaconda3/lib/python3.9/site-packages/keras/engine/training.py", line 2155, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "/Users/nahinhayat/opt/anaconda3/lib/python3.9/site-packages/keras/engine/training.py", line 2143, in run_step  **
        outputs = model.predict_step(data)
    File "/Users/nahinhayat/opt/anaconda3/lib/python3.9/site-packages/keras/engine/training.py", line 2111, in predict_step
        return self(x, training=False)
    File "/Users/nahinhayat/opt/anaconda3/lib/python3.9/site-packages/keras/utils/traceback_utils.py", line 70, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "/Users/nahinhayat/opt/anaconda3/lib/python3.9/site-packages/keras/engine/input_spec.py", line 298, in assert_input_compatibility
        raise ValueError(

    ValueError: Input 0 of layer "sequential" is incompatible with the layer: expected shape=(None, 36), found shape=(None, 9)